body{
  background: #fff;
  width: 100%;
  height: auto;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #2d2d2d;
  line-height: 2.3rem;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
.fa {
  font-size: 2.25em;
}
h2, h3  {
  color: #455376;
  margin-top: 6rem;
}
h1  {
  text-transform: uppercase;
}
h2  {
  margin-bottom: 6rem;
  font-weight: 700;
}
h2::before  {
  content: "-";
}
h2::after  {
  content: "-";
}
h3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
p {
  font-size: inherit; /*dědí parametr z body = zajistí, že všechny p budou vždy stejné*/
  display: block;
}
a {
  color: #455376;
  text-decoration: none;
  transition: all 0.8s ease;
}
a:hover, a:focus, a:active {
  color: #c5308a;
  text-decoration: none;
}
section {
  height: auto;
  padding-bottom: 6rem;
}
.navbar-default {
  background-color: #fff;
  border: none;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #455376;
}
a:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #c5308a;
  text-decoration: none;
}
.navbar-brand {
  font-weight: bold;
}
li a img.img-circle {
  border: 2px solid #455376;
  margin-right: 5px;
  margin-left: auto;
  margin-top: -3px;
}

/*CAROUSEL*/
.carousel {
  height: auto;
}
.carousel-caption {
  bottom: 90px;
}
.carousel-caption > h1 {/*formátování h1 se změní dle zadaných parametrů*/
    color: #fff;
    text-shadow: none;
    font-weight: bolder;
}

/*INTERESTS*/
.interest-wrapper {
  border: 1px solid #b4b4b4;
  padding: 40px 30px;
  box-shadow: 1px 6px 10px #ced1d8;
  border-radius: .2em;
  height: auto;
  overflow: hidden;
}
.fa-i {
  font-size: 4em;
  color: #455376;
}

/*JOIN*/
.join1, .join2 {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 200px;
 }
.join1 {
    background: #c4ad8d;
}
.join2 {
    background: #dcc380;
    border-left: 3px solid #fff;
}
#join, #join a {
    color: #fff;
    font-size: 1.8rem;
}
#join a {
    font-weight: bold;
    text-decoration: underline;
 }

/*KONTAKT*/
#contact {
  background: url('../img/cirda-head.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

/*FOOTER*/
footer {
  height: 60px;
  padding: 1.50rem;
}
